
@{
    ViewBag.Title = "Ecosologic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="">
            <h4 class="center-align">Dúvidas Frequêntes</h4>
            <div class="row">
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header "><em><strong>O que são micro e minigeradores fotovoltaicos?</strong> </em></div>
                        <div class="collapsible-body  teal lighten-4"><p>São sistemas de geração elétrica de pequena potência, normalmente instalada para produzir energia suficiente para alimentar uma casa, edifício ou até mesmo um galpão de indústria. Microgeradores são sistemas de potência de até 100Kw e minigeradores são acima de 100Kw e até 1 Mw.  Geralmente são instaldos nos telhados das edificações. São compostos de  de módulos solares (aquelas placas que vemos nos telhados das casas) e um inversor que transforma concorrente contínua em corrente alternada.</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header "><em><strong>Como funciona o sistema de compensação de energia?</strong> </em> </div>
                        <div class="collapsible-body  teal lighten-4"><p>Você deve estar curioso para saber  como a distribuidora de energia abate da  conta de luz o que gerar de excesso de energia solar .Em 2012 a ANEEL criou uma normativa 482/2012, que basicamente estabelece a possibilidade de uma residência poder gerar sua própria energia através de fontes alternativas; Solar, Eólica, biomassa etc.  O excedente da  energia gerada  é enviada para a rede de distribuição, que é abatida na conta de luz.  No caso da energia solar, é calculado o total que deve ser gerado de dia para compensar o que é usado de dia e de noite.</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header "><em><strong>Qual deve ser o tamanho do meu microgerador?</strong> </em> </div>
                        <div class="collapsible-body  teal lighten-4"><p>Você deve ter em mãos as 12 últimas contas de luz e fazer uma média. De acordo com os dados de radiação solar de sua cidade (Atlas brasileiro de Energia Solar ou pelo software radiasol), com essa média você divide por 30 e tem o consumo médio em um dia em kwh. Dividindo o potencial energético pela média diária que consome você terá a capacidade do seu gerador fotovoltaico. Para facilitar, você pode entrar na página <a href="www.americadosol.org/simulador">www.americadosol.org/simulador</a>, e passando o local e média de consumo, você obterá o dimensionamento do seu gerador.</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header "><em><strong>Preciso de baterias para acumular energia?</strong> </em> </div>
                        <div class="collapsible-body  teal lighten-4"><p>Não, você não usa baterias para acumular energia. Toada energia solar gerada é usada pela casa e o excedente é enviado para rede.</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header "><em><strong>Eu posso zerar a conta de luz?</strong> </em> </div>
                        <div class="collapsible-body  teal lighten-4"><p>Na verdade as concessionárias de energia elétrica aplicam uma tarifa mínima por conta de luz.  Existe cobrança mesmo que você não use energia elétrica. Uma ligação monofásica a tarifa mínima é de 50 Kwh/mês, mesmo não usando energia. Para ligações trifásicas a tarifa mínima é de 100Kwh/mês.</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header "><em><strong>Durante o dia, quando falta Luz na região, minha casa continua com energia?</strong> </em> </div>
                        <div class="collapsible-body  teal lighten-4"><p>Não. Existe um sistema de proteção chamado “Anti Ilhamento”. Ou seja, o teu gerador não pode estar injetando energia na rede quando a mesma está sem energia, pois deve ser mantida a segurança dos trabalhadores que irão acessar cabos para concertar o defeito que possivelmente causou a falta de energia na rede. </p></div>
                    </li>
                    <li>
                        <div class="collapsible-header "><em><strong>Eu continuo pagando impostos na conta de luz?</strong> </em> </div>
                        <div class="collapsible-body  teal lighten-4"><p>Alguns impostos já foram abolidos, como o PIS e CONFINS. Em alguns UFS o ICMS já foi retirado para incentivar a microgeração fotovoltaica. No Rio de Janeiro ainda não foi abolido o ICMS, mas a tendência é serem retirar todos os impostos para microgeradores.</p></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
