<div class="modal-header">
    <h4>Dúvidas</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col s12 ">
            {{Duvidas}}
        </div>
    </div>
</div>
<div class="modal-footer">
    <input type="button" value="Fechar" class="btn"btn-primary" ng-click="fechar()" />
</div>
