
@{
    ViewBag.Title = "Ecosologic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <div class="row">
      <div class="col s12 ">
          <h3> Quem Somos </h3>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <blockquote>
            <p style="font-size: 20px;">
                Somos uma empresa  que acredita na real necessidade do consumidor gerar sua própria energia elétrica. <br />
                Com a visão de incentivar a sustentabilidade e economia nas residências, comércio e escolas.<br />
                Sabendo que o Brasil tem um grande potencial em energia solar, tanto para produção de eletricidade quanto para produção de energia térmica.  <br />
                Duas vezes maior que os países europeus e da América do Norte Não queremos deixar esta oportunidade demorar a se expandir pelo Brasil.<br />
                Somos o teu facilitador para garantir a  produção de energia limpa e uma economia sustentável.
            </p>
       </blockquote>
   </div>

</div>
