<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ecosologic.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ecosologic.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ecosologic</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ecosologic</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Ecosologic.UI.EcoSolContexto" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:dbserverfabio.database.windows.net,1433;Initial Catalog=BDEcosologic;User ID=inffabio@dbserverfabio;Password=fL084146711" Name="Data Source=tcp:dbserverfabio.database.windows.net,1433;Initial Catalog=BDEcosologic;User Id=inffabio@dbserverfabio;Password=fL084146711" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Ecosologic.UI.EcoSolContexto, Ecosologic.UI" MigrationConfiguration="Ecosologic.UI.Migrations.Configuration, Ecosologic.UI" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ConexaoBDEcosologic" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:dbserverfabio.database.windows.net,1433;Initial Catalog=BDEcosologic;User ID=inffabio@dbserverfabio;Password=fL084146711;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConexaoBDEcosologic_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:dbserverfabio.database.windows.net,1433;Database=BDEcosologic;User ID=inffabio@dbserverfabio;Password=fL084146711;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Ecosologic.UI.EcoSolContexto-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dbserverfabio.database.windows.net,1433;Initial Catalog=BDEcosologic;User Id=inffabio@dbserverfabio;Password=fL084146711</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Ecosologic.UI.EcoSolContexto" />
  </ItemGroup>
</Project>