[Unit]
Description=Weekly Ecosologic ClamAV signature update

[Timer]
OnCalendar=Sun *-*-* 03:30:00
Persistent=true
RandomizedDelaySec=15min
Unit=ecosologic-clamav-update.service

[Install]
WantedBy=timers.target
