[Unit]
Description=Update Ecosologic ClamAV signatures
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker exec mailserver freshclam --quiet
TimeoutStartSec=10min
